.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delay-input {
  border-radius: 4px;
  border-style: none;
  width: 360px;
  max-width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: solid 1px #000000;
}

.delay-input::-webkit-outer-spin-button,
.delay-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label-d {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.legend {
  text-align: left;
}

.fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  border: solid 1px #000000;
  stroke: #808080;
  width: 348px;
  max-width: 100%;
  height: 78px;
}

.submit-btn {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 100%;
  width: 380px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-style: none;
}
